.alerts {
  display: flex;
  flex-wrap: wrap;

  // align-items: flex-start;
  gap: 6px;
  width: 100%;
}

.alert {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 6px;
  gap: 6px;

  border-radius: 4px;
  background: var(--status-red);

  &__title {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--white);
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: var(--white);
    }
  }
}
