.current {
  display: flex;
  flex-direction: column;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    .location {
      margin-bottom: 8px;

      font-size: 16px;
      font-weight: 600;
      color: var(--K600);
    }

    .description {
      font-size: 22px;
      font-weight: 700;
      text-transform: capitalize;
    }

    .weather-icon {
      display: block;
      aspect-ratio: 1;
      width: 160px;
      margin: -10px 0;
    }
  }

  &__temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    padding-bottom: 20px;

    &__temp {
      font-size: 58px;
      font-weight: 700;
    }
    &__feels-like {
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__other {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-bottom: 30px;

    &__misc {
      display: flex;
      align-items: center;
      width: 100%;

      p {
        flex: 1;
      }
    }

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  &__times {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .rise-set {
      display: flex;
      gap: 10px;

      svg {
        display: block;
        width: 38px;
        height: 38px;
      }

      &--sun svg path {
        fill: var(--sunrise);
      }
      &--moon svg path {
        fill: var(--moonrise);
      }

      div {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 1;

        span {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }
  }
}
