@import "../../css/media.scss";

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;

  &__top {
    display: flex;
    gap: 8px;
    width: 100%;

    @media #{$query-min-sm} {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    @media #{$query-max-sm} {
      flex-direction: column;
      align-items: center;
    }

    .weather-icon {
      display: block;
      aspect-ratio: 1;
      width: 140px;
    }

    &__temp {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .temp {
        font-size: 58px;
        font-weight: 700;
      }

      .description {
        font-size: 22px;
        font-weight: 700;
        text-transform: capitalize;
      }
      .feels-like {
        font-size: 22px;
        font-weight: 700;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      li {
        list-style-type: none;
        display: flex;
        gap: 4px;
        flex: 1;

        font-size: 16px;
        line-height: 1.5;
        color: var(--K500);

        span:first-child {
          font-weight: 600;
        }
        span:last-child {
          font-weight: 700;
        }
      }
    }
  }
}
