.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: 1;

    &__name {
      display: flex;
      flex-direction: column;
      gap: 2px;

      line-height: 1.2;

      .city {
        font-size: 18px;
        font-weight: 700;
      }
      .state-country {
        font-size: 14px;
        font-weight: 500;
      }
    }

    &__time {
      .time-numbers {
        margin-right: 6px;
        font-size: 34px;
        font-weight: 700;
      }
      .time-period {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
