.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .search-fields {
    display: flex;
    gap: 12px;
    width: 100%;

    .loc-search {
      flex: 1;
    }
  }

  .last-fetched {
    font-size: 13px;
    font-weight: 500;
    color: var(--K500);
  }
}
