.daily {
  $shift: 100% / 8;
  $sidePadding: 60px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  min-width: 800px;
  padding: 30px $sidePadding;

  .blocks {
    margin-left: -$shift/2;
    width: calc(100% + $shift);
  }
}
