@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");
@import "./media.scss";

$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "B300": #0071b8,
  "B400": #05639d,
  "B500": #05598d,
  "B600": #03436b,
  "K900": #24292d,
  "K800": #4e5256,
  "K700": #696f74,
  "K600": #83898e,
  "K500": #9da3a8,
  "K400": #b5bbc0,
  "K300": #ced3d6,
  "K200": #dde1e3,
  "K150": #edeef0,
  "K100": #f7f8f9,
  "status-green": #3eab60,
  "status-orange": #f19c2d,
  "status-red": #d75453,
  "status-blue": #42a8d5,
  "temperature": #eb5949,
  "feels-like": #f99d5b,
  "snow": #728696,
  "pop": #dbe5e7,
  "rain": #4cb9f0,
  "wind": #77c5b5,
  // "graph-line": #dadada,
  "zero-line": #ccc,
  "sunrise": #f19c2d,
  "moon": #405156,
  "moonlight": #dfe5e7,
  "moonrise": #87a9cd,
  "alert-background": #fdf6f6,
  "icon-cloud": #535b61,
  "icon-orange": #f19c2d,
  "icon-rain": #4cb9f0,
  "icon-snow": #a4c3da,
);

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
  }
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }

  --font: "Red Hat Display", sans-serif;

  --box-shadow-300: 1px 2px 10px rgba(0, 0, 0, 0.08);
  --box-shadow-600: 1px 2px 10px rgba(0, 0, 0, 0.08),
    6px 16px 30px rgba(0, 0, 0, 0.06);
  --box-shadow-neu: -6px -6px 18px rgba(var(--white-rgb), 0.9),
    6px 6px 18px rgba(var(--K300-rgb), 0.3);

  --input-height: 38px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  line-height: 1;

  background: var(--K100);

  color: var(--K800);
}

body,
button,
input,
select {
  font-family: var(--font);
}

input[type="text"] {
  padding: 0 12px;

  font-size: 16px;
  font-weight: 600;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 14px;
  height: var(--input-height);

  border-radius: 6px;
  border: unset;
  background: var(--K200);

  font-size: 16px;
  font-weight: 600;
  color: var(--K800);

  &:focus {
    outline: none;
  }

  &.button--icon {
    width: var(--input-height);
    padding: 0;

    svg {
      display: block;
      width: 24px;
      height: 24px;

      path {
        fill: var(--K800);
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
}

@import "./layout.scss";
@import "./charts.scss";
